footer{
    background-color: $gad;


    .container-fluid{
        .flogo{
            text-align: center;
            padding-right: 2rem;
            background: $gad;
            padding-top: 100px;
            padding-bottom: 100px;
            min-height: 300px;
            .fsoc{
                margin-top:2rem;
                i{
                    color:$wh;
                    font-size:1.6rem;
                    margin-left: 2.5rem;
                }
            }
        }

        .condetail{
            background: $da;
            
            min-height: 300px;
            padding-left: 3rem;
            h4{
                padding-top: 50px;
                color:$ga;
                margin-bottom: 2rem;
            }
            p{
                color:$ga;
                i{
                    padding-right:1rem;
                }
            }
            form{
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            input{
                padding: 2rem 2rem;;
                @include font($la,400,1.4rem,$gal);
             
                border:none;
            }
            button{
                padding: 1rem 1rem;;
                @include font($la,400,1.4rem,$da);
                
                border:none;
                @media only screen and (max-width:767px){
                    margin-top: 2rem;
                }
            }
        }

        .copy{
            text-align: center;
            background-color: #1c1c1c;
            padding: 1rem;
            p{
                color:$gal;
                text-transform: capitalize;
                a{
                    
                    text-decoration: none;
                    @include font($la,400,1.6rem,$ge);
                }
            }
        }
    }
}
